.footer{
   position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.bg-img{
  background-image: url('../public/images/employees.png');
  background-size: cover;       /* Make it fill the screen */
  background-position: center;  /* Center the image */
  background-repeat: no-repeat; /* Prevent repetition */
  min-height: 100vh;
}

.bg-img .card{
  opacity: 90%;
}

.mt-5 .bi{
  
}
